@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'ABeeZee', sans-serif;
}

:root {
    --primary: rgb(237, 9, 9);
    --secondary: rgb(226, 86, 86);
    --third: black;
    --fourth: white;
    --width: 99vw;
}

header {
    background-color: var(--primary);
    border-bottom: solid var(--third) 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: var(--width);
    padding: 12px;
}



header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    height: 100%;
}

header ul.logo li {
    height: 130%;
    display: flex;
    align-items: center;
}

header ul.logo li a{
    height: 100%;
}

header ul.logo li img {
    height: 100%;
}

header ul.icons img {
    width: 3.5rem;

}

header ul.logo h1 {
    font-size: 2rem;
    padding-top: 8px;
}

header input {
    width: 600px;
    height: 40px;
    border-radius: 25px;
    border: solid 2px;
    background-color: var(--secondary);
}

.main {
    height: 1fr;
    width: var(--width);
    display: grid;
    grid-template-rows: 500px 1fr;
}

.main ul {
    list-style: none;
    justify-content: space-between;
    padding: 15px;
}

.main div {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    background-origin: border-box;
    background-clip: border-box;
}

.main div2 {
    height: 1fr;
    width: 100%;
    border-top: solid var(--third) 8px;
    background-color: var(--fourth);
}

.main div2 h1 {
    background-color: var(--primary);
    width: 11rem;
    height: 2.7rem;
    padding-left: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: solid var(--third) 0.2rem;
    border-right: solid var(--third) 0.2rem;
}

.main div2 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.main div2 img {
    height: 100%;
    align-items: center;

}

.main div2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}




footer {
    width: var(--width);
    background-color: var(--primary);
    border-top: solid var(--third) 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 12px;
}

footer img {
    width: 3.5rem;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.carrinho{
    height: 100vh;
    width: var(--width);
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}


.carrinho div{
    height: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carrinho div ul.itens{
    width: 70vw;
    height: 200px;
    border: solid black;
    border-radius: 15px;
    align-items: center;
}

.carrinho .cent {
    height: 100%;
    list-style-type: none;
    padding-top: 30px;
}

.carrinho .iten{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.iten img{
    height: 100%
}


.carrinho li.selec{
    height: 20%;
    padding-top: 15px;
}


.carrinho div2{
    height: 20px;
    width: 80vw;
    border-top: solid black;
    display: flex;
    justify-content: flex-end;
}

.carrinho div2 h1{
    padding-top: 10px;
}